.main-header {
  .custom-layout(space-between, center);
  padding: 20px 0;

  nav {
    .custom-layout(space-evenly, center);
    max-width: 100%;
  }

  nav a {
    padding: 0 10px;
    text-decoration-line: none;
    font-size: 1.5rem;
    color: @font-color;
  }
}